%message {
font-family: sans-serif;
font-size: 18px;
border: 2px solid black;
padding: 20px;
margin: 20px;
}

.success {
background-color: green;
}

.warning {
background-color: orange
}

.error {
background-color: #F35451
}

div {
  font-size: 18px;
}

p {
  color: black;
}

ul {
  color: black;
}
