.header
{
  width: 50%;
  height: 50%;
  display: sans-serif;
  float: left;
  margin: 0 auto;
}

.table {
text size: 18px;
text color: black;
background-color: #C7F6ED;
}

body {
background-color: #A8ECDF;
}
