    .header
    {
      width: 50%;
      height: 50%;
      display: serif #000000;
      float: left;
      margin: 0 auto;
    }
    body {
      background: #DB6B09;
    }
table {
  float: none;
  background-color: white
  text color: black
  text size: 18px
}
