.header
{
  width: 50%;
  height: 50%;
  display: sans-serif;
  float: left;
  margin: 0 auto;
}

.table {
text size: 18px;
text color: black;
background-color: #C7F6ED;
}

body {
background: #ADF0E3;
font-family: sans-serif;

}

#Picture {
  style = display: block;
  height: 300px; width: 400px;
  style=display: block;
}

button{
  background-color: lightblue;
}
button:hover{
  background-color: orange;
}
